@model EQtrack.Models.RentorInventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentorInventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tools.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.check)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.check)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
