@model IEnumerable<EQtrack.Models.RentorInventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <tr>
        <th>
            <p>
                
            </p>
        </th>
        <th>
            <p>
                Quantity: @ViewBag.quantity
            </p>
        </th>
        <th>
            <p>
                
            </p>
        </th>
        <th>
  
        </th>
        <th>

        </th>
        <th>
            
        </th>
    </tr>
</table>
<p>
    <a asp-controller="Inventories" asp-action="Checkout">Checkout More</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tools)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeStamp)
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.check)*@
               @Html.DisplayNameFor(model => model.InventoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tools.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeStamp)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.check)*@
                @Html.DisplayFor(modelItem => item.InventoryId)
            </td>
            <td>
                <a style="color: mediumblue" asp-action="Return" asp-route-id="@item.id">Return</a> 
            </td>
        </tr>
}
    </tbody>
</table>
