@model EQtrack.Models.tool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tool</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categ.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
