@model IEnumerable<EQtrack.Models.inventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h1>Tools Inventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flag)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
