@model IEnumerable<EQtrack.Models.DamagedItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h1>Index</h1>
@*<!DOCTYPE html>*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tools)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.repairNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnToInventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeStamp2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tools.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.repairNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnToInventory.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeStamp2)
            </td>
            <td>
                <a asp-action="Return" asp-route-id="@item.id">Return</a> |
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
